ul{
    list-style-type: none;
}
li{
    margin-bottom: 10px;
    margin-left: 9px;
}
.headline{
    margin-left: 28px;
    padding-right: 0px;
    padding-left: 20px;
}
.body{
    margin-left: 0px;
}
.body > button {
    margin-left: 9px;
    text-align: left;
}